.hero{
    background-image: url("https://raw.githubusercontent.com/lSaySayl/imagenesExternas/main/Whangaehu.png");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
  }