.card__container {
    width: 500px;
    height: 500px;
    background-color:#242629;
    padding: 30px;
    margin: 10px;
    border-radius: 20px;
    border: 1px solid white;
    margin-top: 50px;
    transition: all 300ms ease;
    box-shadow: 5px 5px 5px  rgba(255, 255, 255, 0.168);
    color: white;
}

.card__container:hover {
    box-shadow: none;
}

.card__container img {
    height: 250px;
    width: 100%;
    border-radius: 10px;
}


.card__middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

}

.card__info {
    margin-top: 10px;

}
